body {
    background: url(../images/bg.jpg) no-repeat;
    background-size: auto;
}

main h1 {
    color: white;
    text-align: center;
    font-weight: 100;
    margin: 0 0 .5em;
}

main h1 i {
    transform: translateY(.25em);
    margin-left: .2em;
}

main h2 {
    font-weight: 100;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.centralizar-verticalmente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-container {
    background: white;
}

#statusConectado {
    font-size: 1.2rem;
    color: #616161;
    font-weight: 300;
    text-align: center;
    padding: 1em;
    background: #e8eaf6;
    border-bottom: 2px solid #c5cae9;
}

#mural {
    overflow-y: auto;
    background: white;
    height: 45vh;
    border-top: 2px solid #c5cae9;
}

.nomes-canal-header {
    font-weight: 100;
    background: #01579b;
    height: 48px;
    color: white;
    font-size: 1.2rem;
}

#nomesCanal {
    height: 45vh;
    background: #e8eaf6;
    padding: 0;
    overflow: auto;
}

#nomesCanal div {
    padding: .2em;
    text-align: left;
    text-indent: 1em;
    transition: .2s;
}

#nomesCanal div:hover {
    border-left: 5px solid #01579b;
    transition: .2s;
}

.mensagem-container {
    border-bottom: 1px solid #e8eaf6;
    padding: .5em;
}

.mensagem {
    color: #616161;
    font-weight: 300;
}

.info-msg {
    font-weight: bold;
    color: #424242;
}

.input-container {
    border-top: 2px solid #c5cae9;
    color: #616161;
    background: #e8eaf6;
}

.input-container .row {
    padding: 1.5em;
    margin-bottom: 0;
}

.input-field {
    display: inline-block;
}

/* label color */
.input-field label {
    color: #616161;
    font-weight: 400;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #01579b !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #01579b !important;
    box-shadow: 0 1px 0 0 rgba(1, 87, 155, 0.4) !important;
}

.input-field ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #bdbdbd;
}

.input-field ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #bdbdbd;
    opacity: 1;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #01579b;
}

.input-field .prefix {
    transform: translateY(.2em);
}

ul.dropdown-content.select-dropdown li span {
    color: #616161;
}

.container-login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-input-container {
    padding: 2em;
    width: 40em;
    background: white;
}

.login-input-container div {
    display: block;
}

.abas-container {
    background: white;
    display: block;
}

.tabs .tab a {
    color: rgba(1, 87, 155, 0.4);
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #01579b;
}

.tabs .indicator {
    background-color: #01579b;
}

.progress {
    position: relative;
    top: 4px;
    margin: 0;
    background: white;
}

.progress .indeterminate {
    background: #01579b;
}

.invisivel {
    visibility: hidden;
}

.btn {
    width: 13em;
    border-radius: 0;
}

.btn:hover {
    background: #0277bd !important;
}

#btn-sair {
    float: right;
}

.modal .modal-content {
    padding-bottom: 0;
}

.modal-content h4 {
    font-weight: 100;
}

table {
    color: #616161;
}

table thead th {
    font-weight: 500;
}

table tbody td {
    font-weight: 300;
}

table tbody tr td:first-child{
    cursor: pointer;
}